#header{
    width: 100%;
    height: 90vh;
    color: white;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.65)), url("../images/homeBg1.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* margin-top: 70px; */
}

#header h1{
    margin: 0 0 10px 0;
    font-size: 40px;
    font-weight: 700;
    color: white
}

#header .brand-name{
    color: #3498db;
}

#header h2{
    color: white;
    font-size: 24px;
}

#header .btn-get-started{
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 30px;
    border-radius: 50px;
    transition: 0.5s;
    color: #3498db;
    border: 1px solid #3498db;
    text-decoration: none;
}

#header .btn-get-started:hover{
    background-color: #3498db;
    color: white;
}

.header-img{
    text-align: right;
}

#header .animated{
    animation: up-down 3s ease-in-out infinite alternate-reverse both;
}

@-webkit-keyframes up-down{
    0%{
        transform: translateY(10px);
    }
    100%{
        transform: translateY(-10px);
    }
}

@keyframes up-down{
    0%{
        transform: translateY(10px);
    }
    100%{
        transform: translateY(-10px);
    }
}

@media screen and (max-width:768px){
    #header h1{
        font-size: 30px;
    }

    #header h2{
        font-size: 20px;
    }
}